*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Poppins', sans-serif;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container 
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col-2{
    flex-basis: 50%;
    min-width: 400px;
}
.col-2 img {
       max-width: 450px;
      padding: 50px 30px; 
      margin-left: 80px;
      margin-bottom: 90px;
      margin-top: 0%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: forestgreen;
    color: #fff;
    padding: 15px 30px;
    margin: 20px 5px;
   border-radius: 5px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
    max-width: 50%;
    max-height: 50%;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.buy-now-button{
    background-color: darkgreen;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.last-part{
    padding-left: 140px;
    padding-bottom: 20px;
}
.last-image{
    height: 50%;
    max-width: 50%;
    margin-left: 100px;
    margin-bottom: 200px;
    margin-top: 200px;
}
/*------footer---*/
.footer{
    background: black;
    color:white;
    font-size: 14px;
    padding: 60px 0 20px;
    
}
.footer p{
    color:white;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}